@model LoginPayload

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        /* Custom styles */
        .login-box {
            max-width: 400px; /* Set maximum width */
            margin: auto; /* Center horizontally */
            margin-top: 100px; /* Adjust vertical margin as needed */
            padding: 20px; /* Add some padding */
            border: 1px solid #ccc; /* Add a border */
            border-radius: 5px; /* Add border radius */
        }
    </style>
</head>
<body>
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success">@ViewBag.SuccessMessage</div>
    }
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "CustomerData", @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="login-box">
            <div class="login-box-body">
                <p class="login-box-msg" style="text-align:left;">
                    Login
                </p>
                <div class="login-Content">
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(a => a.LoginUser, new { @class = "form-control", @autocomplete = "off", @placeholder = "UserName" })
                        @Html.ValidationMessageFor(a => a.LoginUser, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(a => a.Password, new { @class = "form-control", @autocomplete = "off", @placeholder = "Password" })
                        @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.social-auth-links -->
                    <a href="@Url.Action("ChangePassword", "Account")">I forgot my password</a><br>
                    <a href="@Url.Action("AddEdit", "Customers",new { Pagename = "Login"})" class="text-center">Register a new Customer</a>
                </div>
            </div>
            <!-- /.login-box-body -->
        </div>

    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>

