@model Customer
@{
    ViewData["Title"] = "Customer";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        /* Custom styles */
        .login-box {
            max-width: 400px; /* Set maximum width */
            margin: auto; /* Center horizontally */
            margin-top: 100px; /* Adjust vertical margin as needed */
            padding: 20px; /* Add some padding */
            border: 1px solid #ccc; /* Add a border */
            border-radius: 5px; /* Add border radius */
        }
    </style>
</head>
<body>
    <div class="container" style="padding-top:50px">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }

        @using (Html.BeginForm("AddEdit", "Customers", FormMethod.Post, new { @id = "CustomerData", @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(a => a.Id)
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First Name</label>
                        @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(a => a.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        @Html.TextBoxFor(a => a.LastName, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(a => a.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>User Name</label>
                        @Html.TextBoxFor(a => a.LoginUser, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(a => a.LoginUser, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Password</label>
                        @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Phone Number</label>
                        @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(a => a.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @autocomplete = "off" })
                        <span>@Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })</span>
                    </div>
                </div>

            </div>
            <div class="row">
                <input type="submit" value="Save" class="btn btn-primary text-center" />
                @if (Convert.ToString(TempData["PageName"]) == "Login")
                {
                    <a href="@Url.Action("Index","Account")" class="btn btn-light text-center">Cancel</a>
                }
                else
                {
                    <a href="@Url.Action("Index","Customer")" class="btn btn-light text-center">Cancel</a>
                }

            </div>
        }
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>

